/Pertemuan 1 - NilaiMahasiswa/dist/
/Pertemuan 1/NilaiMahasiswa/nbproject/private/
/Pertemuan 1/NilaiMahasiswa/dist/
/Pertemuan 1/NilaiMahasiswa/build/
/Pertemuan 2/NilaiMahasiswa/nbproject/private/
/Pertemuan 1/NilaiMahasiswaConsole/build/
/Pertemuan 1/NilaiMahasiswaConsole/dist/
/Pertemuan 1/NilaiMahasiswaConsole/nbproject/private/
/Pertemuan 2/NilaiMahasiswaConsole/dist/
/Pertemuan 2/NilaiMahasiswaConsole2/nbproject/private/
/Pertemuan 4/Aplikasi Data Mahasiswa Sederhana/DataMahasiswaApp/nbproject/private/
/Pertemuan 4/Aplikasi Data Mahasiswa Sederhana/DataMahasiswaApp/build/
/Pertemuan 5/DatabaseMahasiswa/DatabaseMahasiswa/nbproject/private/
/Pertemuan 5/DatabaseMahasiswa/DatabaseMahasiswa/build/
/Pertemuan 6/SISKA – Sistem Informasi Nilai Mahasiswa Berbasis Java & MySQL/SISKA – Sistem Informasi Nilai Mahasiswa Berbasis Java & MySQL/nbproject/private/
/Pertemuan 6/SISKA – Sistem Informasi Nilai Mahasiswa Berbasis Java & MySQL/nbproject/private/
/Pertemuan 6/SISKA – Sistem Informasi Nilai Mahasiswa Berbasis Java & MySQL/build/
/Pertemuan 7/ProjectLaporan/nbproject/private/
